
        body{
            text-align: center;
            background-color: rgb(249, 237, 246);
        }
        .btn-container{
            display:flex;
            justify-content:space-between;
            align-items: center;
            width: 500px;
            height:500px;
            margin:0 auto;
            flex-wrap: wrap;
        }
        .btn{
            width:200px;
            height:200px;
            border: black solid 4px;
            border-radius: 40px;
        }
        .blue{
            background-color: rgb(139, 139, 243);
        }
        .red{
            background-color: rgb(242, 127, 127);
        }
        .yellow{
            background-color: rgb(247, 157, 211);
        }
        .green{
            background-color: rgb(77, 131, 77);
        }
        .flash{
            background-color: white;
        }
        .userflash{
            background-color: greenyellow;
        }
